{% extends "base.html"%}

{%block title_block %}<title>BioCrypt</title>{% endblock %}
{% block body_block %}
    <div class="jumbotron text-center">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12">
                    <h1>Welcome To BioCrypt</h1>
                    <p>Here you are</p>
                    <a href="{% url 'base_app:login' %}" class="btn btn-outline-primary btn-sm active" role="button" aria-pressed="true">Encrypt</a>
                    <a href="{% url 'base_app:register' %}" class="btn btn-dark btn-sm active" role="button" aria-pressed="true">Decrypt</a>
                    <a href="{% url 'base_app:train' %}" class="btn btn-light btn-sm active" role="button" aria-pressed="true">Train</a>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}