{% extends "base.html" %}
{% block "title_block"%} 
<title>Train</title>
{% endblock%}


{% block body_block %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<div class="container">
    <div class="card center">
            <div class="card-content text-center">
                    <div class="card-action">
                        <button class="btn btn-default " onclick="startWebcam();" style="margin-bottom: 5px; margin-top: 5px; width: 100px">Camera</button>
                        <button class="btn btn-default" onclick="snapshot();" style="margin-bottom: 5px; margin-top: 5px;width: 100px">Train  </button>
                    </div>
                    <div class="input-field col s6">
                            <input placeholder="Enter Name" type="text" class="validate" id="ip">
                    </div>
                    <p style="padding:15px;">
                        <video onclick="snapshot(this);" width=380 height=380 id="video" controls autoplay></video>
                    </p>
            </div>

          </div>
</div>

<script type="text/javascript">
    //--------------------
    // GET USER MEDIA CODE
    //--------------------
        navigator.getUserMedia = ( navigator.getUserMedia ||
                           navigator.webkitGetUserMedia ||
                           navigator.mozGetUserMedia ||
                           navigator.msGetUserMedia);

    var video;
    var webcamStream;

    function startWebcam() {
      if (navigator.getUserMedia) {
         navigator.getUserMedia (

            // constraints
            {
                video: true,
                audio: false
            },

            // successCallback
            function(localMediaStream) {
                video = document.querySelector('video');
                video.src = window.URL.createObjectURL(localMediaStream);
                webcamStream = localMediaStream;
            },

            // errorCallback
            function(err) {
                console.log("The following error occured: " + err);
            }
        );
        } 
        else {
            console.log("getUserMedia not supported");
        }  
    }
    var canvas, ctx;

    function init() {
      // Get the canvas and obtain a context for
      // drawing in it
      canvas = document.getElementById("myCanvas");
      ctx = canvas.getContext('2d');
    }

    function snapshot() {
      
        ctx.drawImage(video, 0,0, canvas.width, canvas.height);
        var img1 = new Image();
        img1.src = canvas.toDataURL();
        var ip = document.getElementById('ip').value;
        datad = "{\r\n    \"image\":\"" + img1.src+ "\",\r\n    \"subject_id\":\"" + ip + "\",\r\n    \"gallery_name\":\"Arti\"\r\n}";
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "https://api.kairos.com/enroll",
          "method": "POST",
          "headers": {
              "content-type": "application/json",
              "app_id": "fee603f3",
              "app_key": "d43e26b5a87fae423d09851f347871b4",
              "cache-control": "no-cache"
          },
          "processData": false,
          "data": datad
        }
    }
</script>
{% endblock %}